*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    text-decoration: none;
    list-style: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 12px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
     font-size: 25px;
     color: white;
     transition: 0.4 ease;
     margin-left: 20px;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                0 0 25px orangered;
    /* transform: scale(1.1); */
}
span{
    color: orangered;
}
.navbar a{
    font-size: 16px;
    color: white;
    margin: 0 20px;
    transition: 0.3s;
}
.navbar a:hover,
.navbar a:active{
    color: orangered;
    border-bottom: 2px solid orangered;
}
.contact{
    background-color: white;
    padding: 10px 15px;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.4s ease;
    letter-spacing: 1px;
    margin-right: 30px;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.897);
}
.home-content{
    max-width: 800px;
    margin-top: 20px;
    margin-left: 40px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 60px;
}
.btn{
    width: 300px;
    display: flex;
    gap: 5px;
}
.btn-1{
    padding: 15px 20px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.4s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border:  2px solid black;
}
.btn-2{
    padding: 15px 20px;
    background-color: orangered;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 0.4s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: white;
    color: orangered;
    border:  2px solid black;
}
.image img{
    border-radius: 50%;
    width: 300px;
    margin-top: 20px;
    margin-right: 30px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.674);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background-color: black;
}
.about-image img{
    border-radius: 50%;
    width: 450px;
    box-shadow: 0 0 25px orangered,
                0 0 25px orangered;
}
.about-content h2{
    text-align: left;
    font-size: 42px;
    color: white;
}
.about-content h3{
    color: white;
    font-size: 60px;
}
.about-content p{
    color: white;
    font-size: 20px;
    padding: 2em 0 3em;
}
.form-w h2{
    text-align: center;
    font-size: 36px;
    margin-top: 3em;
    margin-bottom: 1em;
}
.form-w form{
    max-width: 50em;
    margin-bottom: 3em;
    margin: 1em auto;
    text-align: center;
}
.form-w form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-w form .input-box  input,
.form-w form textarea{
    width: 80%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgba(241, 241, 241);
    border-radius: 10px;
    margin: 1em;
    resize: none;

}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 4px;
    background-color: black;
}
.footer .social{
    text-align: center;
    margin: 25px 0;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: 0 0 25px orangered,
                0 0 10px orangered;
                transition: 0.3s ease;
}
.footer .social a:hover{
    color: orangered;
    transform: scale(1.2)translateY(-10px);
    border: 2px solid orangered;
}
.footer ul{
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.4s ease;
}
footer ul li a:hover{
    border: 2px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    font-size: 12px;
    margin-top: 15px;
    color: white;
}
